[Unit]
Description=Snake Game (Rust)
After=network.target

[Service]
Type=simple
User=heron
WorkingDirectory=/home/heron/workspace/snake-rs
ExecStart=/home/heron/workspace/snake-rs/target/release/snake-rs
Restart=always
RestartSec=5
Environment=PORT=8081

[Install]
WantedBy=multi-user.target
